name: .NET Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 15

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Build
      run: dotnet build -c Release

    - name: Pack
      run: dotnet pack -c Release --no-build -o nupkg

    - name: Publish
      run: dotnet publish -p:PublishSingleFile=true -r win-x64 -c Release --self-contained false ImageViewer\ImageViewer.csproj -o dist

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: All NuGet packages
        path: nupkg

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: All app executables
        path: dist
